#form-results{
    .title{
        color:#cd9834;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    .text-content{
        color: #707070;
    }
}